$color1:#FFBB5C;
$color2:#FF9B50;
$color3:#E25E3E;
$color4:#C63D2F;

$colorWhite:#EEE;

$radialGradient:  radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,93,9,1) 64%, rgba(191,184,41,1) 95%, rgba(250,239,0,1) 100%);

